<h1>Here is your Animal</h1>

<p><%= @specie.species %></p>
<ul>
  <% @specie.sightings.each do |sighting| %>
    <li><%= sighting.location%> -- <%= sighting.date%></li>
    <a href="/sightings/<%= sighting.id %>/edit">Edit Sighting</a>
  <% end %>
</ul>

<% if @sighting.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @sighting.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<h3>Add New Sighting</h3>
<form action = '/species/<%= @specie.id %>/sightings' method = "post">
  <label for = "sighting">Location</label>
  <input id = "sighting" name = "sightings[location]" type = "text">
  <label for = "date">Date</label>
  <input id = "date" name = "sightings[date]" type = "text">
  <input name="sightings[species_id]" type="hidden" value="<%= @specie.id %>">
  <button>Add Sighting</button>
</form>


<p><a href="/species">Return to home page</a></p>

<p><a href="/species/<%=@specie.id%>/edit">Edit</a></p>

<p><a href="/species/<%= @specie.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>
